<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="/css/book.css" rel="stylesheet">
<link href="/css/button.css" rel="stylesheet">
<link href="/css/form.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<head>
    <meta charset="UTF-8">
    <title>图书馆</title>
    <style>
        .a{
            width: 300px;
            height: 30px;
            margin-left: auto;
        }
        .b{
            font-size: large;
        }
    </style>

</head>
<body>
<style>
    .in{height:30px;border-radius:4px;}
    .getS{background:#69Ea7c;color:#fff;padding:5px;padding-left:20px;padding-right:20px;border-radius:4px;}
    .getS:HOVER{background:#49D44d;cursor:pointer;}
</style>
<div style="padding-Top:5px;background:#ddd;height:40px">
    <label style="margin-left:45px">书名：</label> <input class="in" id="selectName"/>
    <label>作者：</label> <input class="in" id="selectAuthor"/>
    <label>类别:</label>
    <select id="selectType">
    <option value="文学">文学</option>
    <option value="青春">青春</option>
    <option value="小说">小说</option>
    <option value="艺术">艺术</option>
    <option value="动漫/幽默">动漫/幽默</option>
    <option value="娱乐时尚">娱乐时尚</option>
    <option value="旅游">旅游</option>
    <option value="美食">美食</option>
    <option value="两性">两性</option>
    <option value="体育">体育</option>
    <option value="历史">历史</option>
    <option value="经济">经济</option>
    <option value="工具书">工具书</option>
</select>
    <label onclick="selectNeedBook()" class="getS"> 查 询 </label>
    <label onclick="selectNeedBook(1)" class="getS"> 显示全部</label>
</div>
    <table id="mytable" border="1"  class="table table-border table-bordered table-striped">
        <tr >
            <!--<td><input type="checkbox" name="checkAll" onclick="funSelAll()" value="1"></td>-->
            <td hidden="hidden">id</td>
            <td>书名</td>
            <td>类别</td>
            <td>作者</td>
            <td>出版社</td>
            <td>出版时间</td>
            <td>剩余数量</td>
            <td>总数</td>
            <td>操作</td>
        </tr>
        <tbody id="tbody">

        <tr th:each="book : ${books}" th:class="${book.remain} gt 0 ? 'active' : 'danger'">
            <!--<td><input type="checkbox" name="checkbook" th:value="${book.id}"></td>-->
            <!--<td th:text="${book.id}" hidden="hidden">1</td>-->
            <td th:text="${book.name}">1</td>
            <td th:text="${book.type}">1</td>
            <td th:text="${book.author}">2</td>
            <td th:text="${book.company}">3</td>
            <td th:text="${book.publishtime}">4</td>
            <td th:id="${book.id}" th:text="${book.remain}">5</td>
            <td th:text="${book.total}">6</td>
            <td><input th:id="${book.id}" th:name="${book.id}" type="button" class="btn btn-success"
                       th:onclick="${book.flag} eq true ?  'cancelbook(this.id)': 'borrowbook(this.id)' " th:value="${book.flag} eq true ? '取消预约' : '预约'"></td>
        </tr>
        </tbody>
    </table>


</body>
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script type="application/javascript">
    const deleteBookUrl='http://localhost:8884/book/deletebook';
           borrowBookUrl='http://localhost:8884/book/borrowbook';
           cancelBookUrl='http://localhost:8884/book/cancelbook';
           selectNeedBookUrl='http://localhost:8884/book/selectNeedbook';
    function borrowbook(book_id) {
            // 完成预约书籍的动作
            //1.页面显示数量减少1，不重新从数据库中读取
            var remain = document.getElementById(book_id);
            var name = document.getElementsByName(book_id).item(0);
            if(remain.innerHTML == 0){
                alert("库存为0，不可借阅");
                return;
            }
            $.ajax({
                //与后台交互
                url: borrowBookUrl,
                type: "get",
                datatype: "json",
                data: {
                    id : book_id
                },
                error: function(e) {
                    console.log("error", e.statusText);
                    alert("预约失败")
                },
                success: function(res) {
                    name.value="取消预约";   //改变值
                    remain.innerHTML = remain.innerHTML-1;
                    name.onclick = function (ev) {   //改变动作
                        cancelbook(book_id);
                    };
                    alert("预约成功");
                },
                complete: function(d) {
                    console.log("done");
                }
            });
    }

    /**
     * 取消预约
     * @param book_id
     */
  function cancelbook(book_id) {
        //将图标改成预约
      var remain = document.getElementById(book_id);
      var name = document.getElementsByName(book_id).item(0);
      $.ajax({
          //与后台交互
          url: cancelBookUrl,
          type: "GET",
          datatype: "json",
          data: {
              id : book_id
          },
          error: function(e) {
              console.log("error", e.statusText);
              alert("取消预约失败");
          },
          success: function(res) {
              name.value="预约";   //改变值
              remain.innerHTML = remain.innerHTML-(-1);
              name.onclick = function (ev) {   //改变动作
                  borrowbook(book_id);
              };
              alert("取消预约成功");
          },
          complete: function(d) {
              console.log("done");
          }
      });
  }


   //显示添加书籍页面
    function addbook() {
        $('.login-form-mask').fadeIn(100);
        $('.login-form').slideDown(200);
    }
    //关闭添加书籍页面
    function closebookform() {
        $('.login-form-mask').fadeOut(100);
        $('.login-form').slideUp(200);
        location.reload();
    }

    //删除书籍
    function deleteBooks() {
        var selects = document.getElementsByName("checkbook");
        var tbbody = document.getElementById("tbody");
        var arr = new Array();
        var num = 0;
        var id = null;
        for(var i=selects.length-1;i>=0;i--){
            if(selects[i].checked){
               id=selects[i].value;
               arr[num++]=id;
               tbbody.deleteRow(i);
            }
        }
        if(num==0){
            alert("未选中任何书籍");
            return;
        }else{
            if(!confirm("确认删除嘛")){
                return;
            }
        }
        $.ajax({
            url: deleteBookUrl,
            type: "POST",
            datatype: "json",
            data: {
                ids : arr.toString()
            },
            error: function(e) {
                console.log("error", e.statusText);
                alert("删除失败")
            },
            success: function(res) {
                alert("删除成功")
            },
            complete: function(d) {
                console.log("done");
            }
        });

    }

    /**
     * 查看是否全部选中
     */
    function funSelAll(){
        var selects=document.getElementsByName("checkbook");
        if(document.getElementsByName("checkAll")[0].checked==true){
            for(var i=0;i<selects.length;i++){
                selects[i].checked=true;
            }
        }else{
            for(var i=0;i<selects.length;i++){
                selects[i].checked=false;
            }
        }
    }

    /**
     * 条件查询书籍
     */
    function selectNeedBook(selecttype) {
        var name = document.getElementById("selectName");
        var author = document.getElementById("selectAuthor");
        var type = null;
        if(selecttype==undefined){
            type = document.getElementById("selectType").value;
        }
        var cls = "";
        $.ajax({
            url: selectNeedBookUrl,
            type: "POST",
            datatype: "json",
            data: {
                name : name.value,
                author : author.value,
                type : type
            },
            error: function(e) {
                console.log("error", e.statusText);
                alert("查询失败")
            },
            success: function(res) {
                $("#tbody").html("");  //  如果第一行保留的话，添加tr:not(:first)
                var j=1;
                var htmlText = "";
                if(res.data == ""){
                    alert("暂无所查书籍");
                    return;
                }
                jQuery.each(res.data, function(i,item){   //遍历list
                    if(item.remain==0){
                        cls = 'danger';
                    }else{
                        cls = 'active';
                    }
                    if(item.flag){
                        var temp1 = '取消预约';
                        var temp2 = 'cancelbook('+item.id+')';
                    }else{
                        var temp1 = '预约';
                        var temp2 = 'borrowbook('+item.id+')';
                    }
                    htmlText += '<tr class="'+cls+'">';
                    htmlText += '<td>'+item.name+'</td>';
                    htmlText += '<td>'+item.type+'</td>';
                    htmlText += '<td>'+item.author+'</td>';
                    htmlText += '<td>'+item.company+'</td>';
                    htmlText += '<td>'+item.publishtime+'</td>';
                    htmlText += '<td id="'+item.id+'">'+item.remain+'</td>';
                    htmlText += '<td>'+item.total+'</td>';
                    htmlText += '<td><input id="'+item.id+'" name="'+item.id+'" type="button" class="btn btn-success" onclick="'+temp2+'" value="'+temp1+'"></td>';
                });
                $("#tbody").append(htmlText);
            },
            complete: function(d) {
                console.log("done");
            }
        });
    }
</script>
</html>