<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
</head>

<body>
    <h1 align="center">欢迎来到图书管理系统</h1>
    <div id="back">
        <div id="login_box">
            <div class="login_input">用户名：
                <input type="text" placeholder="请输入用户名/手机号/邮箱" id="username">
            </div>
            <div class="login_input">密&nbsp;&nbsp;&nbsp;码：
                <input type="password" placeholder="请输入密码" id="password">
            </div>
            <div class="login_input">
                <button id="login_btn">登 录</button>
            </div>
            <a href="/index/register" id="register">还没有账号？快去注册吧</a>
        </div>
    </div>
</body>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/login.js"></script>

</html>